.grid-block {
  display: grid;
  margin-bottom: var(--block-space-4);
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .grid-block {
    grid-template-columns: 1fr !important;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .grid-block {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

