# Dependencies
node_modules

# Build outputs
dist
build
*.tsbuildinfo

# Logs
*.log

# Package manager files
package-lock.json
pnpm-lock.yaml
yarn.lock

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

