.button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  color: var(--color-surface-text);
  cursor: pointer;
  padding: 0 var(--space-xxs);
  height: 32px;
  border-radius: var(--radius-m);
}

.button.align-center {
  justify-content: center;
}

.button.align-left {
  justify-content: flex-start;
}

.button.align-right {
  justify-content: flex-end;
}

/* Default type */
.button.type-default:hover {
  color: var(--color-theme);
  background-color: var(--color-gray-100);
}

.button.type-default:active {
  background-color: var(--color-gray-200);
}

/* Primary type */
.button.type-primary {
  background-color: var(--color-theme);
  color: var(--color-white);
}

.button.type-primary:hover {
  background-color: var(--color-theme-darker-10);
}

.button.type-primary:active {
  background-color: var(--color-theme-darker-20);
}

.button:focus {
  outline: 1.5px solid var(--color-theme);
  outline-offset: 1px;
}
