.button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 0 var(--space-xxs);
  height: 32px;
  border-radius: var(--radius-m);
}

/* Layer colors */
.button.layer-surface {
  color: var(--color-surface-text);
}

.button.layer-background {
  color: var(--color-background-text);
}

.button.align-center {
  justify-content: center;
}

.button.align-left {
  justify-content: flex-start;
}

.button.align-right {
  justify-content: flex-end;
}

/* Default type */
.button.type-default.layer-surface:hover {
  color: var(--color-theme);
  background-color: var(--color-gray-100);
}

.button.type-default.layer-surface:active {
  background-color: var(--color-gray-200);
}

.button.type-default.layer-background:hover {
  color: var(--color-theme);
  background-color: var(--color-gray-800);
}

.button.type-default.layer-background:active {
  background-color: var(--color-gray-700);
}

/* Primary type */
.button.type-primary {
  background-color: var(--color-theme);
  color: var(--color-white);
}

.button.type-primary:hover {
  background-color: var(--color-theme-darker-10);
}

.button.type-primary:active {
  background-color: var(--color-theme-darker-20);
}

/* Toggled state */
.button.is-toggled {
  background-color: var(--color-button-toggle-bg);
  color: var(--color-button-toggle-text);
}

.button.is-toggled:hover,
.button.is-toggled.type-default.layer-surface:hover,
.button.is-toggled.type-default.layer-background:hover,
.button.is-toggled.type-primary:hover {
  background-color: var(--color-button-toggle-bg-hover);
  color: var(--color-button-toggle-text);
}

.button.is-toggled:active,
.button.is-toggled.type-default.layer-surface:active,
.button.is-toggled.type-default.layer-background:active,
.button.is-toggled.type-primary:active {
  background-color: var(--color-button-toggle-bg);
  color: var(--color-button-toggle-text);
}

.button:focus {
  outline: 1.5px solid var(--color-theme);
  outline-offset: 1px;
}
