.menu {
  background-color: var(--color-surface);
  border-radius: var(--radius-l);
  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.2),
    0 4px 12px rgba(0, 0, 0, 0.1);
  width: 300px;
  z-index: 1000;

  li,
  ol {
    list-style: none;
  }
}

.menu-list .button-menu-item {
  width: 100%;
  padding: 0 var(--space-s);

  &.is-selected {
    padding-left: var(--space-xxs);
    background-color: var(--color-theme-alpha-08) !important;
    color: var(--color-theme);
  }

  .menu-item-shortcut {
    color: var(--color-surface-text-tertiary);
    margin-left: auto;
  }
}

.menu-group:not(:last-child) {
  border-bottom: 1px solid var(--color-gray-200);
}

.menu-group-heading {
  h3 {
    font-size: 10px;
    font-weight: 550;
    text-transform: uppercase;
    color: var(--color-surface-text-tertiary);
  }
}
