.menu {
  background-color: var(--color-surface);
  border: 1px solid var(--color-gray-200);
  border-radius: var(--radius-l);
  box-shadow: 0 4px 12px var(--color-gray-100);
  width: 300px;
  z-index: 1000;

  li, ol {
    list-style: none;
  }
}

.menu-item-button {
  width: 100%;
  text-align: left;
}
