.menu {
  background-color: var(--color-surface);
  border-radius: var(--radius-l);
  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.2),
    0 4px 12px rgba(0, 0, 0, 0.1);
  width: 300px;
  z-index: 1000;

  li,
  ol {
    list-style: none;
  }
}

.menu-list {
  display: flex;
  flex-direction: column;
  max-height: 520px;
}

.menu-header {
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid var(--color-gray-200);
  background-color: var(--color-surface);
  border-radius: var(--radius-l) var(--radius-l) 0 0;
}

.menu-list-scrollable {
  overflow-y: auto;
  flex: 1;
  min-height: 0;
}

.menu-footer {
  position: sticky;
  bottom: 0;
  z-index: 2;
  border-top: 1px solid var(--color-gray-200);
  background-color: var(--color-surface);
  border-radius: 0 0 var(--radius-l) var(--radius-l);
  border-top: 1px solid var(--color-gray-200);
}

.menu-list .button-menu-item {
  width: 100%;
  padding: 0 var(--space-s);

  &.is-selected {
    padding-left: var(--space-xxs);
    background-color: var(--color-theme-alpha-08) !important;
    color: var(--color-theme);
  }

  .menu-item-shortcut {
    color: var(--color-surface-text-tertiary);
    margin-left: auto;
  }
}

.menu-group:not(:last-child) {
  border-bottom: 1px solid var(--color-gray-200);
}

.menu-group-heading {
  h3 {
    font-size: 10px;
    font-weight: 550;
    text-transform: uppercase;
    color: var(--color-surface-text-tertiary);
  }
}

.menu-search {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  padding: var(--space-xs) var(--space-s);

  .icon {
    color: var(--color-surface-text-tertiary);
    flex-shrink: 0;
  }

  .menu-search-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: var(--color-surface-text);
    /* font-size: 14px; */
    font-family: inherit;

    &::placeholder {
      color: var(--color-surface-text-tertiary);
    }
  }
}

.menu-header.has-gradient-top::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 0;
  height: 6px;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.05) 0%,
    transparent 100%
  );
  pointer-events: none;
  z-index: 1;
}

.menu-footer.has-gradient-bottom::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 0;
  right: 0;
  height: 6px;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.05) 0%,
    transparent 100%
  );
  pointer-events: none;
  z-index: 1;
}

