* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-background-text);
  font-family: var(--font-body);
  font-size: var(--font-m); 
}

.debug {
  outline: 1px dotted red;
}

.debug-inner {
  * {
    outline: 1px dotted blue;
  }
}

.col,
.row {
  display: flex;

  .fill {
    flex: 1;
  }

  .wrap {
    flex-wrap: wrap;
  }

  .items-center {
    align-items: center;
  }

  .items-end {
    align-items: flex-end;
  }

  .items-start {
    align-items: flex-start;
  }

  .justify-between {
    justify-content: space-between;
  }
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}
