.menu {
  background-color: var(--color-surface);
  border-radius: var(--radius-m);
  border: 1px solid var(--color-gray-200);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  width: 250px;
  z-index: 1000;

  li,
  ol {
    list-style: none;
  }
}

.menu-list {
  display: flex;
  flex-direction: column;
  max-height: 400px;
}

.menu-header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--color-surface);
  border-radius: var(--radius-l) var(--radius-l) 0 0;

  &.has-scrolled {
    border-bottom: 1px solid var(--color-gray-200);
  }
}

.menu-list-scrollable {
  overflow-y: auto;
  flex: 1;
  min-height: 0;
}

.menu-footer {
  position: sticky;
  bottom: 0;
  z-index: 2;
  border-top: 1px solid var(--color-gray-200);
  background-color: var(--color-surface);
  border-radius: 0 0 var(--radius-l) var(--radius-l);
  border-top: 1px solid var(--color-gray-200);
}

.menu-list .button-menu-item {
  width: 100%;
  padding: 0 var(--space-s);

  & > span {
    text-align: left;
  }

  &.is-selected {
    background-color: var(--color-theme-alpha-08) !important;
    color: var(--color-theme);
  }

  .menu-item-shortcut {
    color: var(--color-surface-text-tertiary);
    margin-left: auto;
  }

  &.button-all-pages {
    padding-left: var(--space-xxs);
  }
}

.menu-group:not(:last-child) {
  border-bottom: 1px solid var(--color-gray-200);
}

.menu-search {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  padding: var(--space-xs) var(--space-s);

  .icon {
    color: var(--color-surface-text-tertiary);
    flex-shrink: 0;
  }

  .menu-search-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: var(--color-surface-text);
    /* font-size: 14px; */
    font-family: inherit;

    &::placeholder {
      color: var(--color-surface-text-tertiary);
    }
  }
}

.menu-header.has-gradient-top::after {
  content: '';
  position: absolute;
  bottom: -21px;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 15%,
    transparent 100%
  );
  pointer-events: none;
  z-index: 1;
}

.menu-footer.has-gradient-bottom::before {
  content: '';
  position: absolute;
  top: -21px;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 15%,
    transparent 100%
  );
  pointer-events: none;
  z-index: 1;
}

.menu-empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

.menu-empty-text {
  color: var(--color-surface-text-tertiary);
  font-size: 14px;
  text-align: center;
}
