button.button.button-wordpress {
  height: 64px;
  width: 64px;
  background-color: #000;
  overflow: hidden;
  border-radius: 0;
  color: #fff;

  &.has-sidebar-open {
    border-top-left-radius: var(--radius-l);
  }

  svg {
    height: 40px;
    width: 40px;
  }

  &:hover {
    background-color: #000 !important;
  }

  &:focus {
    outline-offset: -2px;
    outline-width: 2px;
  }
}
