.page-grid-item {
  width: 100%;
  border-radius: var(--radius-l);
  background-color: var(--color-surface);
  outline: 1px solid var(--color-gray-200);
  color: var(--color-surface-text);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;

  &:hover {
    outline: 1.5px solid var(--color-theme);
  }
}

.page-grid-item__preview-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  /* Allow preview to set its own height */
  flex: 1;
}

.page-grid-item__preview {
  width: 100%;
  position: relative;
}

.page-grid-item__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  color: var(--color-surface-text-tertiary);
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
}

.page-grid-item__label {
  text-align: center;
}

.page-grid-item__error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  color: var(--color-surface-text-tertiary);
  font-size: 12px;
}
