.page-grid-item {
  break-inside: avoid;
  page-break-inside: avoid;
  margin-bottom: var(--space-xl);
  width: 100%;

  .page-grid-item__preview-wrapper {
    border-radius: var(--radius-s);
    background-color: var(--color-surface);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    outline: 1px solid var(--color-gray-200);
  }

  .page-grid-item__title {
    font-size: 11px;
    color: var(--color-surface-text-secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    .page-grid-item__preview-wrapper {
      border-color: var(--color-gray-400);
    }
    .page-grid-item__title {
      color: var(--color-surface-text);
    }
  }

  &.is-selected {
    .page-grid-item__preview-wrapper {
      box-shadow: none;
      outline: 2px solid var(--color-theme);
    }
    .page-grid-item__title {
      color: var(--color-theme);
    }
  }
}