.page-grid {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: var(--space-xl);
}

.page-grid-content {
  column-width: 300px;
  column-gap: var(--space-xl);
  width: 100%;
}
