.app {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-background);
  color: var(--color-background-text);
  font-family: var(--font-body);
}

.editor {
  background-color: var(--color-surface);
}

.editor-toolbar {
  height: 64px;
  background-color: var(--color-surface);
  color: var(--color-surface-text);
  border-bottom: 1px solid var(--color-gray-100);
}

.chat {
  width: 300px;
}
