.app {
  height: 100vh;
  width: 100vw;
}

.stage {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.editor {
  background-color: var(--color-surface);
  color: var(--color-surface-text);
}

.editor-content {
  height: calc(100% - 64px);
  min-height: 0;
}

.editor-canvas {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: space-between;
  position: relative;
  min-width: 0;
}

.document {
  border-radius: var(--radius-m);
  background-color: var(--color-gray-200);
  outline: 1px solid var(--color-gray-200);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-surface-text-tertiary);
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;

  .view-grid & {
    height: 340px;
    width: 300px;
  }

  .view-single & {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.panel {
  height: calc(100% - 64px);
  overflow: hidden;
  background-color: var(--color-surface);
  border-right: 1px solid var(--color-gray-100);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  &.panel-settings {
    border-right: none;
    border-left: 1px solid var(--color-gray-100);
  }

  h3 {
    padding: var(--space-m);
    border-bottom: 1px solid var(--color-gray-100);
    font-size: 12px;
    font-weight: 600;
    color: var(--color-surface-text);
    text-transform: uppercase;
    margin: 0;
  }
}

.chat {
  width: 300px;
  color: var(--color-background-text);
  overflow: hidden;
  flex-shrink: 0;

  header {
    height: 64px;
    justify-content: space-between;
  }

  .chat-input {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: var(--radius-l);
    background-color: rgba(255, 255, 255, 0.025);

    &:focus-within {
      border: 1px solid var(--color-theme);
      outline: 1px solid var(--color-theme);
    }
  }

  .input-body {
    &:focus {
      outline: none;
      border: none;
    }
  }

  .input-actions {
    justify-content: flex-end;
  }
}
