.app {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-background);
  color: var(--color-background-text);
  font-family: var(--font-body);
}

.stage {
  overflow: hidden;
}

.editor {
  background-color: var(--color-surface);
  color: var(--color-surface-text);
}

.editor-toolbar {
  position: relative;
  height: 64px;
  border-bottom: 1px solid var(--color-gray-100);
}

.button-save {
  min-width: 80px;
}

.editor-canvas {
  height: calc(100% - 64px);
  overflow-y: auto;
  justify-content: space-between;
  position: relative;
}

.editor-canvas.col {
  overflow: hidden;
}

.document {
  border-radius: var(--radius-m);
  background-color: var(--color-gray-200);
  outline: 1px solid var(--color-gray-200);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-surface-text-tertiary);
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;

  .view-grid & {
    height: 500px;
    width: 300px;
  }

  .view-single & {
    height: 100%;
    width: 100%;
  }
}

.chat {
  width: 300px;
}

/* WP Button */
.editor-toolbar .button-wordpress {
  height: 64px;
  width: 64px;
  background-color: var(--color-black);
  overflow: hidden;
  border-radius: 0;
  text-indent: -9999px;

  &:hover {
    background-color: var(--color-black) !important;
  }
}

/* Document Bar */
.document-bar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  .button-prev,
  .button-next {
    opacity: 0;
    padding: 0 2px;
  }

  .button-document-picker {
    border: 1px solid var(--color-gray-200);
    width: 300px;
    position: relative;

    .title-wrapper {
      position: relative;

      .icon {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translate(90%, -50%);
        opacity: 0;

        svg {
          transition: all 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
        }
      }
    }

    .document-title {
      font-weight: 550;
      letter-spacing: 0.5px;
    }

    small {
      color: var(--color-surface-text-tertiary);
      position: absolute;
      right: var(--space-s);
      font-size: 10px;
    }

    &.active {
      background-color: var(--color-gray-100);
      color: var(--color-theme);

      .title-wrapper .icon {
        opacity: 1;

        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  &:focus-within,
  &:hover {
    .button-prev,
    .button-next {
      opacity: 1;
    }

    .title-wrapper .icon {
      opacity: 1;
    }
  }
}
