.app {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-background);
  color: var(--color-background-text);
  font-family: var(--font-body);
}

.stage {
  overflow: hidden;
}

.editor {
  background-color: var(--color-surface);
  color: var(--color-surface-text);
}

.editor-toolbar {
  position: relative;
  height: 64px;
  border-bottom: 1px solid var(--color-gray-100);
}

.button-save {
  min-width: 80px;
}

.editor-canvas {
  height: calc(100% - 64px);
  overflow-y: auto;
  justify-content: space-between;
}

.document {
  height: 500px;
  width: 300px;
  border-radius: var(--radius-m);
  outline: 1px solid var(--color-gray-200);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-surface-text-tertiary);
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
}

.chat {
  width: 300px;
}

/* Document Bar */
.document-bar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  .button-prev,
  .button-next {
    opacity: 0;
    padding: 0 2px;
  }

  .button-document-picker {
    /* border: 1px solid var(--color-gray-200) !important; */
    width: 300px;
    position: relative;

    .title-wrapper {
      position: relative;

      .icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(100%, -50%);
        opacity: 0;
      }
    }

    .document-title {
      font-weight: 550;
      letter-spacing: 0.5px;
    }

    small {
      color: var(--color-surface-text-tertiary);
      position: absolute;
      right: var(--space-s);
      font-size: 10px;
    }
  }

  &:focus-within,
  &:hover {
    .button-prev,
    .button-next {
      opacity: 1;
    }

    .title-wrapper .icon {
      opacity: 1;
    }
  }
}
